<p>test-page works!</p>
<p>{{getNos2xPubKey()}}</p>
<button (click)="listenToRelay()">Listen to Relay</button>
<button (click)="closeRelay1()">Close Relay 1</button>
<button (click)="getProfile()">Get Profile</button>
<button (click)="getPosts()">Get Posts</button>
<button (click)="getRelays()">Get Relay</button>
<button (click)="getEvent()">Get Event</button>
<button (click)="getContacts()">Get Contacts</button>
<button (click)="showNotes()">Show Notes</button>
<button (click)="showProfiles()">Show Profiles</button>