@import '../../../app.component.scss';

ul {
    font-size: 20px;
    font-weight: 300;
    padding: 0;
    padding-right: 15px;
    margin: 0;

    li {
        margin: 0;
        padding: 12px;
        list-style: none;
    }

    li:hover {
        background-color: $color-modeFadeLight;
        border-radius: 25px;
    }
}