@import '../../../app.component.scss';

#content-view {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    #notes {
        width: 600px;
        margin: 0;
        height: 100%;
        border-left: 1px solid $color-modeFadeDeep;
        border-right: 1px solid $color-modeFadeDeep;
    }

    #right-bar {
        width: 350px;
        margin: 0;
        padding-left: 25px;

        div {
            position: sticky;
            top: 0;
        }
    }
}