@import '../../../app.component.scss';

.head {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;

    .topic {
        padding: 5px;
        text-align: center;

        .active {
            font-size: 4px;
            border-radius: 4px;
            background-color: $color-primary;
            color: $color-primary;
        }
    }
}