@import '../../../app.component.scss';

.head {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;

    .topic {
        padding: 5px 15px;
        text-align: center;
        cursor: default;

        .topic-name {
            padding: 16px 0;
        }

        .active {
            font-size: 4px;
            border-radius: 4px;
            background-color: $color-primary;
        }
    }

    .topic:hover {
        background-color: $color-modeFadeLighter;
    }
}