@import '../../../app.component.scss';

h3 {
    margin-top: 0;
}

ul {
    margin: 0;
    padding: 0;

    li {
        padding: 10px 0;
        list-style: none;

        h4 {
            margin: 0;
        }

        p {
            margin: 0;
            font-size: 0.8em;
            font-weight: 300;
            color: $color-modeInvertFadeDeep;
        }

    }
}
