<nh-main-separator>
    <div class="notes">
        <div class="topic-header">
            <div class="page-title">My Follows</div>
            <nh-topic-head [topics]="topics"></nh-topic-head>
        </div>
        <main>
            <nh-note-feed></nh-note-feed>
        </main>
    </div>
    <div class="right-bar">
        <nh-search-bar></nh-search-bar>
        <nh-whats-happening></nh-whats-happening>
        <nh-who-to-follow></nh-who-to-follow>
        <nh-footer-links></nh-footer-links>
    </div>
</nh-main-separator>