@import '../../../app.component.scss';

div {
    text-align: center;
    font-size: 20px;
    color: $color-mode;
    padding: 12px;
    border-radius: 25px;
    background-color: $color-primary;
}

div:hover {
    background-color: $color-primaryFadeLight;
}