@import '../../../app.component.scss';

article {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 16px;

    .prof-pic {
        width: 10%;
    }

    .content {
        width: 100%;

        .cont-head {
            display: flex;
            flex-direction: row-reverse;
            flex-wrap: nowrap;

            .prof-name {
                width: 100%;
                padding-bottom: 3px;

                span {
                    color: $color-modeInvertFadeDeep;
                    font-weight: 300;
                }
            }
        }

        .note {
            font-weight: 300;
        }
    }
}