<article>
    <div class="prof-side">
        <div class="prof-pic"><nh-profile-pic [image]="getProfilePic()"></nh-profile-pic></div>
        <div class="reply-line" *ngIf="connectLine">&nbsp;</div>
    </div>
    <div class="content">
        <div class="cont-head">
            <nav>...</nav>
            <div class="prof-name" *ngIf="getName()">{{ getName() }} <span>_@tertiushand.com</span></div>
            <div class="prof-name" *ngIf="!getName()">{{ getPubkey() }}</div>
        </div>
        <div class="note">
            {{ getContent() }}
        </div>
        <nh-note-reaction></nh-note-reaction>
    </div>
</article>