@import '../../../app.component.scss';

article {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    .prof-side {
        width: 12%;
        padding-right: 12px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;

        .prof-pic {

        }

        .reply-line {
            height: 100%;
            width: 2px;
            border-radius: 2px;
            background-color: $color-modeFadeDeep;
        }
    }

    .content {
        width: 100%;

        .cont-head {
            display: flex;
            flex-direction: row-reverse;
            flex-wrap: nowrap;

            .prof-name {
                width: 100%;
                padding-bottom: 3px;

                span {
                    color: $color-modeInvertFadeDeep;
                    font-weight: 300;
                }
            }
        }

        .note {
            font-weight: 300;
        }
    }
}