ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 0;
    margin: 0;
    list-style: none;
    padding-top: 12px;

    li {
        padding: 0;
        margin: 0;
        width: 60px;
    }
}